#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.App {
  text-align: center;
  margin: auto;
  background: lightgray;
  padding: 50px;
  border-radius: 20px;
  box-shadow: 10px 10px 5px #aaaaaa;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.blink {
  color: red;
  animation: blink 1s linear infinite;
  margin: 0px !important;
}
.timeText {
  margin: 0px !important;
}
.buttonIcon {
  font-size: 3.1875rem !important;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 2;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
